<!DOCTYPE html>
<html>
  <head>
    <title>Five</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/2.2.14/sweetalert2.min.css', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/2.2.14/sweetalert2.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="theme-asphalt main-menu-animated" cz-shortcut-listen="true">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
